{% load static  %}
<div class="left-sidebar-pro">
    <nav id="sidebar" class="">
        <div class="sidebar-header">
            <a href="index.html"><img class="main-logo" src="img/logo/logo.png' %}" alt="" /></a>
            <strong><a href="index.html"><img src="{%  static 'assets/img/logo/logosn.png' %}" alt="" /></a></strong>
        </div>
        <div class="left-custom-menu-adp-wrap comment-scrollbar">
            <nav class="sidebar-nav left-sidebar-menu-pro">
                <ul class="metismenu" id="menu1">
                    <li class="active">
                        <a class="has-arrow" href="">
                               <span class="educate-icon educate-home icon-wrap"></span>
                               <span class="mini-click-non">Home</span>
                            </a>
                      
                    </li>
                    <li> 
                        <a title="Landing Page" href="{% url 'filter' id=1 %}" aria-expanded="false"><span class="educate-icon educate-data-table icon-wrap" aria-hidden="true"></span> <span class="mini-click-non">view By Table</span></a>
                    </li>
                    <!-- <li>
                        <a title="Landing Page" href="events.html" aria-expanded="false"><span class="educate-icon educate-charts icon-wrap" aria-hidden="true"></span> <span class="mini-click-non">View By Graph</span></a>
                    </li> -->
                    <li>
                        <a title="Landing Page" href="{% url 'filter' id=2 %}" aria-expanded="false"><span class="educate-icon educate-event icon-wrap sub-icon-mg" aria-hidden="true"></span> <span class="mini-click-non">View By Map</span></a>
                    </li>
                    <li>
                        <a title="Landing Page" href="{% url 'filter' id=3 %}" aria-expanded="false"><span class="educate-icon educate-event icon-wrap sub-icon-mg" aria-hidden="true"></span> <span class="mini-click-non">View By Analytics</span></a>
                    </li>
                    <li>
                        <a title="Landing Page" href="events.html" aria-expanded="false"><span class="educate-icon educate-key icon-wrap sub-icon-mg" aria-hidden="true"></span> <span class="mini-click-non">Logout</span></a>
                    </li>
                 
                </ul>
            </nav>
        </div>
    </nav>
</div>