{%extends 'layouts/main.html'%}

{% block content %}
<div class="dashtwo-order-area mg-tb-30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="analytics-edu-wrap ant-res-b-30 reso-mg-b-30">
                    <div class="skill-content-3 analytics-edu">
                        <div class="skill">
                            <div class="progress">
                                <div class="lead-content">
                                    <h3><span class="counter">50</span>%</h3>
                                    <p>maeneo sya mabonde</p>
                                </div>
                                <div class="progress-bar wow fadeInLeft" data-progress="50%" style="width: 50%;" data-wow-duration="1.5s" data-wow-delay="1.2s"> <span>50%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="analytics-edu-wrap reso-mg-b-30">
                    <div class="skill-content-3 analytics-edu analytics-edu4">
                        <div class="skill">
                            <div class="progress">
                                <div class="lead-content">
                                    <h3><span class="counter">85</span>%</h3>
                                    <p>maeneo ya tambalale</p>
                                </div>
                                <div class="progress-bar wow fadeInLeft" data-progress="85%" style="width: 85%;" data-wow-duration="1.5s" data-wow-delay="1.2s"><span>85%</span> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="analytics-edu-wrap reso-mg-b-30 res-tablet-mg-t-30 dk-res-t-pro-30">
                    <div class="skill-content-3 analytics-edu analytics-edu3">
                        <div class="skill">
                            <div class="progress progress-bt">
                                <div class="lead-content">
                                    <h3><span class="counter">80</span>%</h3>
                                    <p>maeneo ya mwinuko</p>
                                </div>
                                <div class="progress-bar wow fadeInLeft" data-progress="80%" style="width: 80%;" data-wow-duration="1.5s" data-wow-delay="1.2s"><span>80%</span> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="analytics-edu-wrap res-tablet-mg-t-30 dk-res-t-pro-30">
                    <div class="skill-content-3 analytics-edu analytics-edu2">
                        <div class="skill">
                            <div class="progress progress-bt">
                                <div class="lead-content">
                                    <h3><span class="counter">93</span>%</h3>
                                    <p>maeneo ya milima</p>
                                </div>
                                <div class="progress-bar wow fadeInLeft" data-progress="93%" style="width: 93%;" data-wow-duration="1.5s" data-wow-delay="1.2s"><span>93%</span> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="dashtwo-order-area mg-tb-30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="analytics-edu-wrap ant-res-b-30 reso-mg-b-30">
                    <div class="skill-content-3 analytics-edu">
                        <div class="skill">
                            <div class="progress">
                                <div class="lead-content">
                                    <h3><span class="counter">95</span>%</h3>
                                    <p>maeneo ya mabonde</p>
                                </div>
                                <div class="progress-bar wow fadeInLeft" data-progress="95%" style="width: 95%;" data-wow-duration="1.5s" data-wow-delay="1.2s"> <span>95%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="analytics-edu-wrap reso-mg-b-30">
                    <div class="skill-content-3 analytics-edu analytics-edu4">
                        <div class="skill">
                            <div class="progress">
                                <div class="lead-content">
                                    <h3><span class="counter">85</span>%</h3>
                                    <p>maeneo ya tambalale</p>
                                </div>
                                <div class="progress-bar wow fadeInLeft" data-progress="85%" style="width: 85%;" data-wow-duration="1.5s" data-wow-delay="1.2s"><span>85%</span> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="analytics-edu-wrap reso-mg-b-30 res-tablet-mg-t-30 dk-res-t-pro-30">
                    <div class="skill-content-3 analytics-edu analytics-edu3">
                        <div class="skill">
                            <div class="progress progress-bt">
                                <div class="lead-content">
                                    <h3><span class="counter">80</span>%</h3>
                                    <p>maeneo ya mwinuko</p>
                                </div>
                                <div class="progress-bar wow fadeInLeft" data-progress="80%" style="width: 80%;" data-wow-duration="1.5s" data-wow-delay="1.2s"><span>80%</span> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="analytics-edu-wrap res-tablet-mg-t-30 dk-res-t-pro-30">
                    <div class="skill-content-3 analytics-edu analytics-edu2">
                        <div class="skill">
                            <div class="progress progress-bt">
                                <div class="lead-content">
                                    <h3><span class="counter">93</span>%</h3>
                                    <p>maeneo ya milima</p>
                                </div>
                                <div class="progress-bar wow fadeInLeft" data-progress="93%" style="width: 93%;" data-wow-duration="1.5s" data-wow-delay="1.2s"><span>93%</span> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="dashtwo-order-area mg-tb-30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="analytics-edu-wrap ant-res-b-30 reso-mg-b-30">
                    <div class="skill-content-3 analytics-edu">
                        <div class="skill">
                            <div class="progress">
                                <div class="lead-content">
                                    <h3><span class="counter">95</span>%</h3>
                                    <p>idadi ya wanawake wanao miliki ardhi</p>
                                </div>
                                <div class="progress-bar wow fadeInLeft" data-progress="95%" style="width: 95%;" data-wow-duration="1.5s" data-wow-delay="1.2s"> <span>95%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="analytics-edu-wrap reso-mg-b-30">
                    <div class="skill-content-3 analytics-edu analytics-edu4">
                        <div class="skill">
                            <div class="progress">
                                <div class="lead-content">
                                    <h3><span class="counter">85</span>%</h3>
                                    <p>idadi ya wanaume wanao miliki ardhi</p>
                                </div>
                                <div class="progress-bar wow fadeInLeft" data-progress="85%" style="width: 85%;" data-wow-duration="1.5s" data-wow-delay="1.2s"><span>85%</span> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="analytics-edu-wrap reso-mg-b-30 res-tablet-mg-t-30 dk-res-t-pro-30">
                    <div class="skill-content-3 analytics-edu analytics-edu3">
                        <div class="skill">
                            <div class="progress progress-bt">
                                <div class="lead-content">
                                    <h3><span class="counter">80</span>%</h3>
                                    <p>idadi ya familia zinazo miliki ardhi kwa pamoja</p>
                                </div>
                                <div class="progress-bar wow fadeInLeft" data-progress="80%" style="width: 80%;" data-wow-duration="1.5s" data-wow-delay="1.2s"><span>80%</span> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="analytics-edu-wrap res-tablet-mg-t-30 dk-res-t-pro-30">
                    <div class="skill-content-3 analytics-edu analytics-edu2">
                        <div class="skill">
                            <div class="progress progress-bt">
                                <div class="lead-content">
                                    <h3><span class="counter">93</span>%</h3>
                                    <p>idadi ya vijana wanao miliki ardhi</p>
                                </div>
                                <div class="progress-bar wow fadeInLeft" data-progress="93%" style="width: 93%;" data-wow-duration="1.5s" data-wow-delay="1.2s"><span>93%</span> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="dashtwo-order-area mg-tb-30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="analytics-edu-wrap ant-res-b-30 reso-mg-b-30">
                    <div class="skill-content-3 analytics-edu">
                        <div class="skill">
                            <div class="progress">
                                <div class="lead-content">
                                    <h3><span class="counter">20</span>%</h3>
                                    <p>Tahasisi binafsi</p>
                                </div>
                                <div class="progress-bar wow fadeInLeft" data-progress="20%" style="width: 20%;" data-wow-duration="1.5s" data-wow-delay="1.2s"> <span>20%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="analytics-edu-wrap reso-mg-b-30">
                    <div class="skill-content-3 analytics-edu analytics-edu4">
                        <div class="skill">
                            <div class="progress">
                                <div class="lead-content">
                                    <h3><span class="counter">30</span>%</h3>
                                    <p>Tahasisi za dini</p>
                                </div>
                                <div class="progress-bar wow fadeInLeft" data-progress="30%" style="width: 30%;" data-wow-duration="1.5s" data-wow-delay="1.2s"><span>30%</span> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="analytics-edu-wrap reso-mg-b-30 res-tablet-mg-t-30 dk-res-t-pro-30">
                    <div class="skill-content-3 analytics-edu analytics-edu3">
                        <div class="skill">
                            <div class="progress progress-bt">
                                <div class="lead-content">
                                    <h3><span class="counter">80</span>%</h3>
                                    <p>Tahasisi za kiselikali</p><br>
                                    
                                </div>
                                <div class="progress-bar wow fadeInLeft" data-progress="80%" style="width: 80%;" data-wow-duration="1.5s" data-wow-delay="1.2s"><span>80%</span> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="analytics-edu-wrap res-tablet-mg-t-30 dk-res-t-pro-30">
                    <div class="skill-content-3 analytics-edu analytics-edu2">
                        <div class="skill">
                            <div class="progress progress-bt">
                                <div class="lead-content">
                                    <h3><span class="counter">50</span>%</h3>
                                    <p>Makampuni</p>
                                </div>
                                <div class="progress-bar wow fadeInLeft" data-progress="50%" style="width: 50%;" data-wow-duration="1.5s" data-wow-delay="1.2s"><span>50%</span> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="analysis-progrebar-area mg-b-15">
    <!-- <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="analysis-progrebar reso-mg-b-30">
                    <div class="analysis-progrebar-content">
                        <h5>Usa</h5>
                        <h2><span class="counter">90</span>%</h2>
                        <div class="progress progress-mini ug-1">
                            <div style="width: 68%;" class="progress-bar"></div>
                        </div>
                        <div class="m-t-sm small">
                            <p>Server down since 1:32 pm.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="analysis-progrebar reso-mg-b-30">
                    <div class="analysis-progrebar-content">
                        <h5>Memory</h5>
                        <h2><span class="counter">70</span>%</h2>
                        <div class="progress progress-mini ug-2">
                            <div style="width: 78%;" class="progress-bar"></div>
                        </div>
                        <div class="m-t-sm small">
                            <p>Server down since 12:32 pm.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="analysis-progrebar reso-mg-b-30 res-tablet-mg-t-30 dk-res-t-pro-30">
                    <div class="analysis-progrebar-content">
                        <h5>Data</h5>
                        <h2><span class="counter">50</span>%</h2>
                        <div class="progress progress-mini ug-3">
                            <div style="width: 38%;" class="progress-bar progress-bar-danger"></div>
                        </div>
                        <div class="m-t-sm small">
                            <p>Server down since 8:32 pm.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="analysis-progrebar res-tablet-mg-t-30 dk-res-t-pro-30">
                    <div class="analysis-progrebar-content">
                        <h5>Space</h5>
                        <h2><span class="counter">40</span>%</h2>
                        <div class="progress progress-mini ug-4">
                            <div style="width: 28%;" class="progress-bar progress-bar-danger"></div>
                        </div>
                        <div class="m-t-sm small">
                            <p>Server down since 5:32 pm.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>


{% endblock %}

{% block customScripts %}

{% include 'layouts/datatable_scripts.html'%}

{% endblock %}