{%extends 'layouts/main.html'%}

{% block content %}
<div class="data-table-area mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="sparkline13-list">
                    <div class="sparkline13-hd">
                        <div class="main-sparkline13-hd">
                            <h1>list of <span class="table-project-n">villagers</span> and their information</h1>
                        </div>
                    </div>
                    <div class="sparkline13-graph">
                        <div class="datatable-dashv1-list custom-datatable-overright">
                            <div id="toolbar">
                                <select class="form-control dt-tb">
                                    <option value="">Export Basic</option>
                                    <option value="all">Export All</option>
                                    <option value="selected">Export Selected</option>
                                </select>
                            </div>
                            <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true"
                                data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar">
                                <thead>
                                    <tr>
                                        <th data-field="state" data-checkbox="true"></th>
                                        <th data-field="id">#</th>
                                        <th data-field="FullName" data-editable="true">Full Name</th>
                                        <th data-field="gender" data-editable="true">gender</th>
                                        <th data-field="Region" data-editable="true">Region</th>
                                        <th data-field="District" data-editable="true">District</th>
                                        <th data-field="Ward">Ward</th>
                                        <th data-field="Village" data-editable="true">Village</th>
                                        <th data-field="PLotSize" data-editable="true">PLot Size</th>
                                        <th data-field="Existinguse" data-editable="true">Existing use</th>
                
                                        <th data-field="Proposed  use" data-editable="true">Proposed  use</th>
                                        <th data-field="action">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td>1</td>
                                        <td>abduli majidi</td>
                                        <td>Male</td>
                                        <td>IRINGA</td>
                                        <td>MAFINGA</td>
                                        <td>CHANINGO</td>
                                        <td>IYOMASA</td>
                                        <td>12 hectors</td>
                                        
                                        <td>KILIMO</td>
                                        <td>SOKO</td>
                                        
                                        <td class="datatable-ct"><i class="fa fa-check"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>1</td>
                                        <td>abduli majidi</td>
                                        <td>Male</td>
                                        <td>IRINGA</td>
                                        <td>MAFINGA</td>
                                        <td>CHANINGO</td>
                                        <td>IYOMASA</td>
                                        <td>12 hectors</td>
                                        
                                        <td>KILIMO</td>
                                        <td>SOKO</td>
                                        
                                        <td class="datatable-ct"><i class="fa fa-check"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>1</td>
                                        <td>abduli majidi</td>
                                        <td>Male</td>
                                        <td>IRINGA</td>
                                        <td>MAFINGA</td>
                                        <td>CHANINGO</td>
                                        <td>IYOMASA</td>
                                        <td>12 hectors</td>
                                        
                                        <td>KILIMO</td>
                                        <td>SOKO</td>
                                        
                                        <td class="datatable-ct"><i class="fa fa-check"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>1</td>
                                        <td>abduli majidi</td>
                                        <td>Male</td>
                                        <td>IRINGA</td>
                                        <td>MAFINGA</td>
                                        <td>CHANINGO</td>
                                        <td>IYOMASA</td>
                                        <td>12 hectors</td>
                                        
                                        <td>KILIMO</td>
                                        <td>SOKO</td>
                                        
                                        <td class="datatable-ct"><i class="fa fa-check"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>1</td>
                                        <td>abduli majidi</td>
                                        <td>Male</td>
                                        <td>IRINGA</td>
                                        <td>MAFINGA</td>
                                        <td>CHANINGO</td>
                                        <td>IYOMASA</td>
                                        <td>12 hectors</td>
                                        
                                        <td>KILIMO</td>
                                        <td>SOKO</td>
                                        
                                        <td class="datatable-ct"><i class="fa fa-check"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>1</td>
                                        <td>abduli majidi</td>
                                        <td>Male</td>
                                        <td>IRINGA</td>
                                        <td>MAFINGA</td>
                                        <td>CHANINGO</td>
                                        <td>IYOMASA</td>
                                        <td>12 hectors</td>
                                        
                                        <td>KILIMO</td>
                                        <td>SOKO</td>
                                        
                                        <td class="datatable-ct"><i class="fa fa-check"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>1</td>
                                        <td>abduli majidi</td>
                                        <td>Male</td>
                                        <td>IRINGA</td>
                                        <td>MAFINGA</td>
                                        <td>CHANINGO</td>
                                        <td>IYOMASA</td>
                                        <td>12 hectors</td>
                                        
                                        <td>KILIMO</td>
                                        <td>SOKO</td>
                                        
                                        <td class="datatable-ct"><i class="fa fa-check"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>1</td>
                                        <td>abduli majidi</td>
                                        <td>Male</td>
                                        <td>IRINGA</td>
                                        <td>MAFINGA</td>
                                        <td>CHANINGO</td>
                                        <td>IYOMASA</td>
                                        <td>12 hectors</td>
                                        
                                        <td>KILIMO</td>
                                        <td>SOKO</td>
                                        
                                        <td class="datatable-ct"><i class="fa fa-check"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>1</td>
                                        <td>samwel karimu</td>
                                        <td>Male</td>
                                        <td>IRINGA</td>
                                        <td>MAFINGA</td>
                                        <td>CHANINGO</td>
                                        <td>IYOMASA</td>
                                        <td>12 hectors</td>
                                        
                                        <td>KILIMO</td>
                                        <td>SOKO</td>
                                        
                                        <td class="datatable-ct"><i class="fa fa-check"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>1</td>
                                        <td>saidi idrisa</td>
                                        <td>Male</td>
                                        <td>IRINGA</td>
                                        <td>MAFINGA</td>
                                        <td>CHANINGO</td>
                                        <td>IYOMASA</td>
                                        <td>12 hectors</td>
                                        
                                        <td>KILIMO</td>
                                        <td>SOKO</td>
                                        
                                        <td class="datatable-ct"><i class="fa fa-check"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>1</td>
                                        <td>abduli majidi</td>
                                        <td>Male</td>
                                        <td>IRINGA</td>
                                        <td>MAFINGA</td>
                                        <td>CHANINGO</td>
                                        <td>IYOMASA</td>
                                        <td>12 hectors</td>
                                        
                                        <td>KILIMO</td>
                                        <td>SOKO</td>
                                        
                                        <td class="datatable-ct"><i class="fa fa-check"></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block customScripts %}

{% include 'layouts/datatable_scripts.html'%}

{% endblock %}